* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

main {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 80%;

    grid-template-areas: 
    "header header"
    "caixa-texto caixa-imagem";
}

header {
    display: block;
    padding: 5% 0 0 15%;
}

.caixa-imagem {
   grid-area: caixa-imagem;
   width: 50%;
}


.caixa-texto {
    width: 50%;
    top:48%;
    grid-area: caixa-texto;
    padding: 20% 0 0 15%;
}

a {
    width: 60px;
    height: 20px;
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    margin-right: 30px ;
    cursor: pointer;
}

button {
    width: 100px;
    height: 51px;
    color: white;
    background:#6fbf44;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    
}

h1 {
    width: 600px;
    height: 164px;
    font-weight: 700;
    line-height: 82px;
    font-size: 65px;
    margin-bottom: 5px;
}

p {
    width:480px;
    height:99px;
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 5px;
}



img {
    Width: 700px;
    Height:600px;
}

.link {
    font-size: 18px;
    letter-spacing: 0.9px;
    color: #6fbf44;
    cursor: pointer;
    margin-left: 0;
}

a:hover{
  font-size: 29px;
}

a:active{
    color: rgb(117, 117, 117);
}

button:hover {
    width: 134px;
    height: 61px;
}
 
button:active {
      background: #b7daa3;
}

.link:active{
    color: #9fd383;
}


@media screen and (max-width: 900px) {


header {
    display: block;
    margin-left: 600px;
}

button{
 
   
}
    
.caixa-esquerda {
       display: block;
}

.caixa-direita {
    display: block;
    margin-top: 170px;
    text-align: center;
}

main {
    width: 100vw;
   
    
}

h1{
    margin-top: 99px;
    text-align: center;
    font-size: 50px;
    line-height: 50px;
    width: 399px;
    height: 85px;
}

p{
   
    font-size: 20px;
    line-height: 30px;
    margin-left: 290px;
    width:304px;
    height:165px;
}

.link {
    
    width:112px;
    height:27px;
    margin-bottom: 50px;
}

img{
    position: absolute;
    width:550px;
    height: 450px;
    margin-top: 700px;
    margin-left: 155px;
}


.link-1{
    display: none;
}



  

}